body {
font-family: 'PT Sans Narrow', sans-serif;
color: powderblue;
background-size: 100%;
background-image: url("oceanbackground2.jpg");
}
iframe {
margin-left: auto;
margin-right: auto;
margin-top: 15px;
margin-bottom: 15px;
display: block;
}
#sidebox {
position: fixed;
vertical-align: top;
opacity: 0.75;
min-width: 230px;
max-width: 240px;
min-height: 150px;
font-size: 110%;
background-color: #347391;
border: 2px solid black;
border-radius: 7px;
padding: 10px;
}

a {
color: powderblue;
}

#content {
margin-left: auto;
margin-right: auto;
max-width: 800px;
}

.bigheading {
margin-top: 175px;
text-align: center;
color: #1A345E;
font-size: 300%;
}

.bigheading2 {
margin-top: 175px;
text-align: center;
color: powderblue;
font-size: 300%;
}

.heading2 {
text-align: left;
color: powderblue;
font-size: 225%;
clear: right;
}

p {

font-family: 'PT Sans Narrow', sans-serif;
color: powderblue;
}

.navigation {
position: fixed;
}

.fixedbanner {
position: fixed;
}

.imageMenu {
text-align: justify;
padding-left: 325px;
padding-right: 325px;
margin-top: 50px;
line-height: 0;
}

.imageMenu a {
display: inline-block;
line-height: 16px;
vertical-align: top;
position: relative;
padding: 4px;
text-decoration: none;
text-align: center;
font-size: 150%;
color: powderblue
}

.imageMenu img {
vertical-align: top;
width: 175px;
height: 175px;
}

.imageMenu:after {
content: '';
display: inline-block;
width: 100%;
vertical-align: top;
}

